body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    background-color: #ffbbe7;
    box-shadow: 2px 2px 30px rgb(91, 32, 120);
    z-index: 100;
    padding-top: 5px;
    position: fixed;
}
.nothing{
    width: 100%;
    padding: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    height: 80px;
}
.menu{
    display: flex;
}
.menu li {
    position: relative;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    font-size: larger;
}

.menu li a {
    color: rgb(60, 9, 76);
    position: relative;
    transition: color 0.3s;
    text-decoration: none;
}
.menu li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, #ffa5de 0%, #d26fe6 100%);
    transition: width 0.3s;
}
.menu li:hover::before {
    width: 100%;
}

.menu li:hover a {
    color: #29021a;
}
.iconCart{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: black;
}
.iconCart img{
    height: 35px;
    position: relative;
    margin-top: 30px;
}
.iconCart:hover{
    transform: scale(1.2);
    transition: 0.3s;
    color: #e140c9;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.menu a:hover{
    color: #e140c9;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}
.num-cart{
    position: relative;
    top: -15px;
    right: -30px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: red;
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #f2d7fe;
    box-shadow: -2px solid 4px #300542;
    display: none;
}
.cart.active{
    right: 0;
    transition: 0.5s;
}
.cart-title{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #29021a;
    margin-top: 10px;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 16%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-box img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.detail-box{
    display: grid;
    row-gap: 8px;
    margin-top: 30px;
}
.cart-name{
    font-size: 18px;

}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid #29021a;
    width: 2.4rem;
    text-align: center;
    font-size: 18px;
}
.delete img{
    height: 50px;
    margin-left: -50px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #29021a;
}
.total-title{
    font-size: 20px;
    font-weight: 600;
}
.total-price{
    margin-top: 3px;
    margin-left: 0.5rem;
}
.buybtn{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #480837;
    color: #f5b6ff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.buybtn:hover{
    background-color: #cd0000;
}
.cart-close img{
    height: 20px;
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.home{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: baseline;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: default;
}
.home-img{
    background-image: url('online selling/homepage.jpg');
}
.home-text-container {
    width: 60%;
    height: 90%;
}
.home-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.home-text strong{
    color: rgb(60, 6, 101);
    font-size: 50px;
    margin-top: 50px;
    text-indent: 2em;
    text-align: justify;
}
.home-text span {
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f0437;
    font-size: 20px;
    margin-top: 20px;
}

.shopnow-btn {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #480837;
    background-image: linear-gradient(to right, #480837 50%, #db94c1 50%);
    background-size: 200% 100%;
    background-position: right;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 50px auto 0;
    padding: 10px 20px;
    transition: background-position 0.3s, color 0.3s;
    text-decoration: none;
}

.shopnow-btn:hover {
    background-position: left;
    color: #ffccec;
    transform: scale(1.2);
    text-decoration: none;
}
.keychain,
.flower,
.bouquet{
    background-color: #f2d7fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keychain-heading strong,
.flower-heading strong,
.bouquet-heading strong{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: #29021a;
    margin-top: 50px;
    padding: 15px 30px;
    border: 1px solid #480837;
}
.keychain-heading,
.flower-heading,
.bouquet-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 20px;
    width: 90%;
}
.product-box{
    background-color: #ffe3f4;
    border: 1px solid #29021a;
    border-radius: 10px;
    margin: 20px; 
    padding: 35px 15px;
}
.product-img{
    max-width: 100%;
}
.product-img img{
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
}
.name{
    color: #29021a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-decoration: none;
}
.price{
    color: #29021a;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}
.product-box:hover{
    box-shadow: 2px 2px 30px #3a0326;
}
.add-cart{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #29021a;
    background-color: rgb(240, 186, 255);
    box-shadow: 2px 2px 30px #ffccec;
    background-size: 200% 100%;
    transition: background-color 0.3s, color 0.3s;
}
.add-cart img{
    height: 30px;
    padding-right: 10px;
    transition: filter 0.3s ease;
}
.add{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.add-cart:hover{
    background-color: #711d7ec5;
    color: #f5b6ff;
}
#contact {
    padding: 10px;
    text-align: center;
    background-color: #746379;
}

#contact h1 {
    color: #fae2ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-decoration: none;
}

#contactForm {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#contactForm label {
    display: block;
    margin-bottom: 10px;
}

#contactForm input[type="email"],
#contactForm input[type="text"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #310338;
    border-radius: 5px;
}

#contactForm textarea {
    height: 100px;
}

#contactForm button[type="submit"] {
    background-color: #ae71b8;
    color: #fff;
    padding:20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactForm button[type="submit"]:hover {
    background-color: #7f0066;
}
footer {
    background-color: #ffbbe7;
    color: rgb(60, 9, 76);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    cursor: default;
}
.contact-info{
    margin-right: -3%;
}
.contact-info p {
    margin: 0;
    text-align: left;
}
.contact-info img{
    height: 20px;
    margin-right: 5px;
}
.contact-info a {
    color: rgb(60, 9, 76);
}
.contact-info a:hover{
    text-decoration: none;
    color: #ff0000;
    transform: color 0.3s;
    transition: all 0.3s;
}
.social.media{
    margin-right: 5%;
}
.social.media a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
.social.media a:hover img {
    filter: brightness(10);
    transform: scale(1.5);
    transition: 0.7s;
}
